<h1>123456</h1>
<form action="/home">
    <input type="text" name="ok">
    <input type="submit" value="Home">
</form>
<script>
    var html = document.querySelector('h1');
    const url = window.location.location;
    console.log(url);
</script>